# Data Science Tools and Ecosystem

In this notebook, Data Science and Tools are summarized.

**Objectives**

* Python
* R
* SQL

Some of the popular languages that Data Scientists use are :
    
    (1) Python
    (2) R
    (3) SQL

Some of the commonly used libraries used by Data Scientests include :
    
    (1) Pandas
    (2) Numpy
    (3) TensorFlow

| Data Science Tools |
| ------------------- |
| R |
| Python |
| Julia |

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
#This a simples arithmetic expression to multiply then and integer

(3*4)+5

17

In [7]:
#This will convert 200 minutes to hours by diving 60

200/60

3.3333333333333335

## Author
Takayuki Hayakawa